[2015-12-29 15:51] robbash opened #1 "Reject method"
Hi Björn,

I've added a `reject` method to your consumer class to requeue messages if execution/consumption fails. Not sure of you want  it in your lib or not.

[code]

Cheers,
Rob

[2015-12-30 11:49] bschmitt commented on #1
Thank you! Do you have a pull request for that? Otherwise I can add it directly.

Btw, did you use Lumen or Laravel? I didn't had the time to create a service provider for Laravel yet.

[2015-12-30 11:51] bschmitt opened #2 "Service Provider for Laravel"
Cause I worked on a Lumen project, a Laravel service provider is missing currently.

[2015-12-31 16:11] robbash commented on #1
No, I don't have a PR as we cloned it into our company git. I could create one but probably it's easier if you would add it directly.
I'm using Lumen. ;)

[2016-01-05 11:58] #1 closed

[2016-02-01 13:04] junaidnasir commented on #2
#3 added.

[2016-02-01 22:03] #2 closed

[2016-02-10 16:04] SpaceK33z opened #6 "No version tagged"
The readme says that you can add `"bschmitt/laravel-amqp": "1.*"` to your composer file, but this isn't true because no version is tagged. Could you tag a version (maybe `0.1.0`)?

Thanks for this awesome package, we're going to use it a lot.

[2016-02-11 18:20] SpaceK33z commented on #6
I see you tagged it, thanks!

[2016-02-11 18:20] #6 closed

[2016-02-11 22:00] bschmitt commented on #6
I'm not sure why there is no release on https://packagist.org/packages/bschmitt/laravel-amqp although I've added a tag / release?

[2016-02-11 22:12] bschmitt opened #9 "Remote procedure call (RPC)"
Sometimes it is needed to run a function on a remote computer and wait for the result.
Goal: Implement a easy integrated Remote Procedure Call (RPC) workflow.

Reference:
https://www.rabbitmq.com/tutorials/tutorial-six-php.html

[2016-04-11 08:34] AidasK opened #10 "Why not to use Tail?"
Could you add some description how this library is different from Tail? Thanks

[2016-04-11 22:25] bschmitt commented on #10
It has fixed all issues I've noted down here: https://github.com/mookofe/tail/issues

* Laravel and Lumen service providers
* More mature approach when it comes to handle different consumers and the way how to proceed with messages (acknowledge, stop when consumed)
* In production usage in my company

[2016-04-11 22:25] #10 closed

[2016-06-28 07:31] arunappulal opened #12 "Unable to Connect"
I'm Using Laravel 5.2. and where should I add my login credentials of RabbitMQ?.

stream_socket_client(): unable to connect to tcp://: (Failed to parse address &quot;:&quot;)

[2016-06-28 15:56] bschmitt commented on #12
Just copy the following file to *config/amqp.php* and change the values to your needs.

https://github.com/bschmitt/laravel-amqp/blob/master/config/amqp.php

Does this help?

[2016-07-05 15:17] #12 closed

[2016-07-06 05:52] arunappulal commented on #12
Yes!.Thanks a lot @bschmitt ...

[2016-08-19 12:03] sweet-greg opened #13 "closing connection after publish"
I believe connections are never closed after publishing, looks like the same is happening when consuming to.

There is a static function shutdown() but that is never called...

[2016-08-23 07:22] sweet-greg commented on #13
see pull request #14

[2016-08-26 08:49] AidasK opened #15 "laravel 5.3 support"

[2016-09-22 09:02] arunappulal commented on #15
Problem 1
    - Conclusion: don't install laravel/framework v5.3.10
    - Conclusion: remove laravel/framework v5.3.9
    - Conclusion: don't install laravel/framework v5.3.9
    - Conclusion: don't install laravel/framework v5.3.8
    - Conclusion: don't install laravel/framework v5.3.7
    - Conclusion: don't install laravel/framework v5.3.6
    - Conclusion: don't install laravel/framework v5.3

[2016-09-22 09:04] AidasK commented on #15
you only need to change this line https://github.com/bschmitt/laravel-amqp/blob/master/composer.json#L30

[2016-09-22 20:42] bschmitt commented on #13
your pull request has been merged

[2016-09-22 20:42] #13 closed

[2016-09-22 21:19] bschmitt commented on #15
Thanks again @AidasK for providing the fix. A new release has been created.
<img width="910" alt="bildschirmfoto 2016-09-22 um 23 17 51" src="https://cloud.githubusercontent.com/assets/239644/18766526/f407eedc-811a-11e6-9c61-1704c9061692.png">

[2016-09-22 21:19] #15 closed

[2016-09-29 12:08] fl0v opened #18 "Support for channel->basic_qos"
Would be useful to add basic_qos call before basic_consume
especially for prefetch_count option
http://www.rabbitmq.com/amqp-0-9-1-reference.html#basic.qos
https://github.com/php-amqplib/php-amqplib/blob/master/demo/basic_qos.php

Its a must if you want to run a multiple consumer scenario and control the batch size distributed to each consumer (right now the default is 1000 messages).

Currently t

[2016-10-19 22:17] anedisi opened #19 "routing and listen"
Consumer right now does not make to much sense for my use case.
When im publishing new things i publish it to routing key.

i would like some API like this
Amqp::listen('routing.key,other.key', callback)

this would generate new queue behind the scenes and consume those routing keys.
with current setup i have to create new queue for every routing key and bind it to that routing key.

Also i needed

[2016-10-25 18:55] bschmitt commented on #19
Sorry for the late reply, was on vacation.

Not sure if I understood it correctly, do you want to create a queue which contains messages of multiple routing keys?

Regarding the RPC, I've already played around with it but hadn't time to merge it into the repo.

[2016-10-25 19:30] anedisi commented on #19
yes i wanted to bind a queue to multiple routing keys. that was fairly easy to implement.
also the ability to "subscribe" to some routing keys.

i have created the "listener". the listener is basically this https://www.rabbitmq.com/tutorials/tutorial-five-python.html

sorry i have already implemented those and rpc in my project.

[2016-11-03 11:59] ianrodrigues opened #20 "What about send messages as JSON?"
How can I send message as application/json?

[2016-12-30 15:23] ily294 commented on #20
`Amqp::publish('email', new  \Bschmitt\Amqp\Message('8', ['content_type' => 'text/json', 'delivery_mode' => 1]), ['exchange' => 'foo']);`

[2017-02-08 07:55] sweet-greg opened #21 "Retry connection on fail"
When running a persistent consumer, it sometimes happen that the AMQP server goes down or reboots.
Is there any way we can catch this event/exception and handle it ?

	[ErrorException]
	  fwrite(): send of 12 bytes failed with errno=104 Connection reset by peer

	PHP Fatal error:  Uncaught ErrorException: fwrite(): send of 19 bytes failed with errno=32 Broken pipe in .../php-amqplib/php-amqplib/Ph

[2017-02-22 13:50] bschmitt opened #22 "Check Laravel 5.4 compatibility"

[2017-04-04 23:28] dugjohnson opened #23 "Error after reading from consumer"
I'm just using this plug-in as a consumer in an Artisan Command of a RabbitMQ queue that is fed elswhere.

Everything reads correctly.  At the end I get the following error

[code]

My code

[code]

I put in the try/catch to try to eliminate the console display, but that didn't change anything.

Any ideas of how to fix this would be appreciated

[2017-04-07 07:39] bschmitt commented on #23
I'm not 100% sure but it has sth to do with the declaration of the queue. Can you post your config here?

hp-amqplib/issues/337
https://github.com/php-amqplib/php-amqplib/pull/358

[2017-05-10 16:37] souzavitor commented on #19
I think it would be nice to create a way to consume more than one "**routing_key**".

Something like this:
[code]
We can find some examples here:
https://www.rabbitmq.com/tutorials/tutorial-four-php.html
https://www.rabbitmq.com/tutorials/tutorial-five-php.html

[2017-08-10 00:53] smartyaunt opened #24 "lumen show ErrorException: Cannot redeclare class App"
lumen show ErrorException: Cannot redeclare class App

help me ,thank

[2017-08-13 22:14] bschmitt commented on #24
Thanks for the fix #25. Has been merged.

[2017-08-22 03:44] CmdrSharp commented on #22
Has this been checked? Is it compatible?

[2017-08-22 18:48] bschmitt commented on #22
Not checked in detail, feel free to contribute to this project.

[2017-08-22 18:53] bschmitt opened #26 "Write integration tests"
The goal is to have integration tests which can be executed with upcoming Laravel and Lumen versions. In best case integrated into travis-ci

[2017-10-04 10:29] sergeyklay opened #28 "Next release ETA"
Hello @bschmitt,

Could you push another release out?
We really need the fix from #25

Thank you

[2017-10-04 19:27] bschmitt commented on #28
@sergeyklay release has been pushed. Does it work for you?

[2017-10-04 19:28] bschmitt commented on #24
Is included into release 1.2.5

[2017-10-04 19:28] #24 closed

[2017-10-04 19:29] bschmitt commented on #22
Will close this ticket, please reopen when there is an issue

[2017-10-04 19:29] #22 closed

[2017-10-04 19:29] #23 closed

[2017-10-04 19:35] bschmitt opened #29 "Write integration tests"
In order to make live easier when new Laravel and Lumen releases come out, we need integration tests. There tests should be integrated to Travis.

* Test consuming and publishing new messages
* Test bootstrapping with the most recent Laravel  and Lumen
* Configuration
* ...

https://docs.travis-ci.com/user/database-setup/#RabbitMQ

Feel free to contribute

[2017-10-04 19:35] #26 closed

[2017-10-04 19:43] sergeyklay commented on #28
Yes, thank you!

[2017-10-04 19:43] #28 closed

[2017-10-30 11:41] terryzwt opened #32 "5.5 support"
Does this support laravel 5.5?

[2017-11-28 14:49] verwilst opened #33 "Unable to use default exchange"
Setting exchange to '' gives the error that the exchange parameter isn't provided in the config.
$channel->basic_publish() in php-amqplib accepts '' as the default exchange though, sending to a queue with the same name as the routing key.
Another issue ( after commenting the empty($this->getProperty('exchange')) check ), is that you always declare an exchange. That is denied for the default exchan

[2017-11-28 14:56] verwilst commented on #33
I am aware that i can get to the same result by using amq.direct, and binding the queue to the identically-named routing key btw. ;-)

[2018-01-23 15:23] stevenklar commented on #32
It does support laravel 5.5 But you need to add the Provider and Facade yourself.

[2018-01-24 20:38] bschmitt commented on #32
In case someone is providing a PR regarding 5.5. compatibility I'd be pleased to merge it into master.

[2018-01-25 16:33] stevenklar commented on #32
@bschmitt like this? #34

[2018-01-26 14:10] makasim opened #35 "Consider using queue interprop as abstraction for queues"
Hello!

Please look at https://github.com/queue-interop/queue-interop project. Using interfaces from it allows us reuse some implementations like enqueue, which supports a lot of transports. You can outsource some code

[2018-01-26 14:41] #20 closed

[2018-01-31 22:17] PaddyHu opened #36 "Disable exchange and queue declare in setup method"
Hello!

It would be great if exchange and  queue declaration could be disabled in setup method, cause if you declared a queue for example with dead letter exchange, you have to define this property in consume method, otherwise rabbit will throw an error because your package is try to define a queue with the same name and another properties.

Another problem is you dont merge the queue_properties k

[2018-02-02 12:15] rajashreem opened #37 "Doesn't allow to use an existing exchange with just write permissions."
The way the code is written, it always tries to declare an exchange. And that requires the configure permissions on the exchange resource from the user part. If the user has just write permissions and just wants to publish to that exchange, it raises an exception of access refused. Something that is not expected.

Php amqplib basic_publish allows users to publish messages to given exchange with ju

[2018-02-26 11:56] outcaster commented on #23
Hi!
apparently it seems I have the same issue, i have a consumer with this test code:
`public function handle()
    {
        \Amqp::consume('site', function ($message, $resolver) {

           var_dump($message->body);

           $resolver->acknowledge($message);
           $resolver->stopWhenProcessed();

        });
    }`

This consumer is listening to a queue called 'site'. the plugin config

[2018-02-26 13:14] outcaster commented on #23
found the issue by myself, its related to the amqp-lib version that was installed on my server, i updated it to the latest version and the issue was gone :).

[2018-04-04 06:55] smartyaunt opened #38 "how to switch connection"
how to switch connection

[2018-04-17 08:38] JayenLee opened #39 "In cli mode, execute Amqp:: consume, and receive messages for a period of time."
[code]
This method can't receive MQ server's push any more than a few minutes without receiving the message. What's the problem, please?

[2018-06-01 08:52] bschmitt opened #41 "Looking for maintainer"
As my time is limited recently and I guess this package is quite helpful for others, I want to ask if there is someone which can help me or take over the ownership?

[2018-06-01 08:55] bschmitt commented on #38
It's not supported out of the box but you could dynamically change the config vars to connect to a different environment...

[2018-06-01 08:55] #38 closed

[2018-06-01 09:05] bschmitt commented on #32
@stevenklar thank you very much! Maybe you want to support that project? #41

[2018-06-01 09:05] #32 closed

[2018-06-01 11:34] stevenklar commented on #41
Thank you for this project. I could help working on some issues and doing pull requests as an additional maintaner. Taking over the ownership doesn't feels for me as I don't have a vision for this package.

[2018-06-05 04:27] akaQin opened #42 "require conflict in Lumen 5.6"
Hi，I met some problem when i run "composer require bschmitt/laravel-amqp" in Lumen 5.6, such as following text:

`Your requirements could not be resolved to an installable set of packages.

  Problem 1
    - Installation request for tightenco/collect (locked at v5.6.24) -> satisfiable by tightenco/collect[v5.6.24].
    - bschmitt/laravel-amqp 2.0.0 requires illuminate/support v5.5.28 -> satisfiabl

[2018-06-05 21:40] stevenklar commented on #42
Hey,

5.6 only supports php 7.1 upwards, which is pretty bad for people still on 5.5 which is >=7.0

So either a full upgrade or seperate branches for 5.5 and 5.6.

[2018-06-08 12:08] AidasK commented on #9
Made it! Just a few lines of code:
[code]

[code]

@todo add consumer example, but it is a lost simpler

[2018-06-09 14:31] mirkojotic commented on #29
@bschmitt I'd love to do this one. I have experience writing tests for Laravel projects but I've never tested a package. Do you have any time to kinda guide me through initial steps and give me a small push?

[2018-06-09 15:56] mirkojotic commented on #42
@stevenklar I gave this a shot. I've forked this repo, updated composer.json to point to a current version of illuminate/support:
`"illuminate/support": "v5.6.24"`
And I've managed to install it in a fresh lumen 5.6.* from a branch on a fork.
Any other things I have to check for?

[2018-06-12 08:30] stevenklar commented on #42
@mirkojotic Awesome!

If everything works as expected we might want to use Version ">5.5" which allows laravel 5.5 and 5.6 users to use this package!

Do you recognize any problems?

[2018-06-12 08:32] stevenklar commented on #29
@mirkojotic maybe the Request or Message classes would be a good start for tests as they are not that heavy and are used by the "main" classes

[2018-06-12 08:43] stevenklar commented on #39
@JayenLee Did you try to change the timeout? Does it effect the mentioned behaviour in any way?

[2018-06-12 08:46] stevenklar commented on #19
@aqkhan #9

[2018-06-12 08:47] stevenklar commented on #9
@AidasK do you mind fork this repository and open a pull request?

[2018-06-12 09:00] anedisi commented on #9
i thing you are missing correlation_id and and i would set the delivery_mode to 2,

[2018-06-12 09:37] JeffreyBool opened #45 "How to use topic?"
如果使用 topic  方式怎么去绑定?

[2018-06-12 09:59] AidasK commented on #9
@anedisi correlation_id is not needed if temporary queue is used only once.
delivery_mode 1 is intentional, because persisted message has no use to me if producer dies.

@stevenklar it is not part of code you can just push to the repository. Every param must be configurable.

This could be a method in https://github.com/bschmitt/laravel-amqp/blob/master/src/Publisher.php Publisher class, e.g.:
[co

[2018-06-12 10:16] anedisi commented on #9
fair enough for delivery_mode, but i would argue people to use correlation_id for rpc, or at least it should be the option for something like a general purpose library.

[2018-06-25 09:01] stevenklar commented on #45
Can you rephrase in english, maybe someone can help you with that question?

[2018-06-25 09:32] stevenklar commented on #41
@bschmitt What do you think? Would you give me rights to merge PR and make releases?

[2018-06-25 10:03] kenuocn commented on #45
Do you support the topic approach?

[2018-06-25 11:55] stevenklar commented on #45
In the README.md is an example with topic.

[2018-06-26 08:13] CorvinSteindl opened #46 "New example"
Could you please add a example to solve this?
![python-four](https://user-images.githubusercontent.com/13137313/41898169-8b5ac982-7929-11e8-970a-106cb01d94e6.png)
([comes frome here](https://www.rabbitmq.com/tutorials/tutorial-four-php.html))

@stevenklar @bschmitt

[2018-07-13 08:04] stevenklar commented on #41
Allright. I will maintain the fork for now.

[2018-07-13 10:36] stevenklar commented on #42
Should be fixed with the [latest release](https://github.com/bschmitt/laravel-amqp/releases/tag/2.0.2).

[2018-07-13 10:36] #42 closed

[2018-07-13 10:38] bschmitt commented on #41
@stevenklar are you now able to maintain the repository? The only thank I can do is to add you as collaborator, I have the feeling that doing more advanced stuff is tight to a github pro plan. Thank you very much! In case that doesn't work out, I'm fine moving it to your account.

[2018-07-13 10:42] bschmitt commented on #29
@mirkojotic thank you very much for your support! I just merged your PR into the next release.

[2018-07-13 10:42] stevenklar commented on #41
As far as I concerned everything should work. Is this repository configured to automagicaly publish releases/tags to packagist, because that might be import for some users?

Push and working on Pull Requests also seems to work.

If anything is missing I will let you know. Please let me know if anything goes in a wrong direction or you don't like.

[2018-07-13 10:46] stevenklar commented on #33
Reconsider the use of exchange in certain situations should also fix other issues. (e. g. #36)
Feel free to propose an example if you are still interested.

[2018-07-13 10:53] bschmitt commented on #41
Yes, that's the case. Vielen Dank!

[2018-07-13 10:53] #41 closed

[2018-07-13 11:46] stevenklar commented on #45
@kenuocn What did you already try? Do you have some code to help with?

[2018-07-13 11:49] stevenklar commented on #35
As we use the default php library mentioned by rabbitmq themself (php-ampqlib) this might a breaking change and could conflict with future changes.

@makasim Could you give an example which interfaces you would exchange?

[2018-07-13 11:57] stevenklar commented on #9
Will test this out and submit a first proposal with the resolved todo's you mentioned.

Thank you!

@AidasK If you would like to add this yourself, don't hesitate and open a pull request.

[2018-07-13 12:08] AidasK commented on #9
I am not planing to make a pull request for this, so feel free to push it by yourself. Tag me for review if needed :)

[2018-07-31 10:02] Prakashg07 opened #48 "Connection refused"
I am following "https://github.com/bschmitt/laravel-amqp" but I am getting "**stream_socket_client(): unable to connect to tcp://localhost:5672 (Connection refused)**". And I have configured amqp.php too

Please help me out here.

[2018-07-31 10:11] Prakashg07 commented on #48
I solved it. Thanks

[2018-07-31 10:11] #48 closed

[2018-08-01 08:01] Prakashg07 opened #49 "Automatic Subscribe Technique"
I am looking to subscribe automatically and display it on the front end once I received.

Is there a way to do such? Can you please guide me to achieve?

[2018-08-01 08:13] stevenklar commented on #49
This seems to be the wrong repository for this case. E. g. I would recommend "websockets" for this case.

Maybe you mean a rabbitmq specific function, please correct me if I missed something.

[2018-08-02 07:55] #49 closed

[2018-08-02 08:01] Prakashg07 opened #50 "Need some suggestion on AMQP Consume"
I am looking to bind a queue with exchange and routing key while consuming. Do anyone help me out to achieve the above using this (**bschmitt/laravel-amqp**) library?

I have to do something like below:
$binding_key = 'black';
$channel->queue_bind($queue_name, $exchange_name, $binding_key);

Will the below code works:

$connection = new AMQP();
$channel = $connection->channel();
$channel->queue_bi

[2018-09-07 13:44] marcstreeter opened #51 "how would you consume raw rabbitmq messages indefinitely?"
I’m using this project for producing rabbitmq messages to the rest of the infrastructure it interacts with without any issue.

My question is: how would you consume raw rabbitmq messages indefinitely within Laravel without blocking other normal HTTP requests?

I noticed [ that the basic description does mention](https://www.larablocks.com/package/bschmitt/laravel-amqp)  “Consume messages forever”

[2018-09-19 23:58] kitekkitek commented on #18
This is actually easy thing to do (tested on large scale for over 4 years now):
in Amqp.php:
[code]

This adds prefetch count and option to pass routing_key as array of routings (multiple bindings per queue). Obviously like FlorinRo said setPrefetchCount() could also be an option `prefetch_count` for consumer.

[2018-11-02 00:46] Cyrille37 opened #52 "Howto restart after fresh deployed code ?"
Hi,
Thanks for Ur nice work :-)

Laravel Queues have a `queue:restart` command, to use after deployed fresh code (_usually in composer 'post-install-cmd' event_).
How to do with laravel-amqp when listening forever ?
Is there a way to create command like `laravel-amqp:restart` ?

Thanks & cheers

[2018-11-03 11:28] Cyrille37 commented on #52
As:
- The Queue Laravel system use the cache `$this->cache->get('illuminate:queue:restart')` to compare date of the last restart, to know if restart is required.
- php-amqplib can handle PCNTL signals

Perhaps one on this recipe could be used ... I continue to search ...

[2018-11-18 19:52] makasim commented on #35
@stevenklar I am talking about [amqp-interop interfaces](https://github.com/queue-interop/amqp-interop/tree/master/src), There are impl for [php-amqplib, bunny and amqp-ext](https://github.com/queue-interop/queue-interop#amqp-interop).

Please, check official php-amqplib [tutorials ported to amqp interop](https://github.com/php-enqueue/enqueue-dev/tree/master/pkg/amqp-lib/tutorial).

[2018-11-18 19:55] makasim commented on #35
All three mentioned transports support message delaying out of the box

[2018-11-19 14:59] AidasK commented on #9
Worker example:

[code]

[2018-12-03 15:41] gutierrezps commented on #51
That's exactly what I'm looking for too.

[2018-12-03 15:52] stevenklar commented on #50
What exactly did you try? Everything you mention is in the documentation?

Down below is also a custom exchange example.

[2018-12-03 15:52] #50 closed

[2018-12-03 15:52] #45 closed

[2018-12-03 15:55] stevenklar commented on #52
As far as i'am concerned you need to handle this yourself.
The package itself has no "helper commands" yet and is more like a library you can build on top of.

I would suggest a daemon like supervisord to observe the instance and restart your consumer on deployment.

[2018-12-03 15:58] stevenklar commented on #46
@CorvinSteindl Would you consider open a pull-request with the given example using laravel-amqp?

[2018-12-03 15:59] #39 closed

[2018-12-03 16:03] stevenklar commented on #35
@makasim Would you consider implementing those interfaces and open a pull request?

[2018-12-05 08:48] tpaksu commented on #51
I'm using a command to run the "Consume messages forever" code like this:

[code]

and on the supervisor side, I create the command as `php artisan queue:custom`

[2018-12-05 09:14] stevenklar commented on #51
@tpaksu thanks for posting this! Just activated the php syntax highlighting if you don't mind.
@marcstreeter @gutierrezps Does that answer your question?

I would also consider using Laravel Logging instead of just echo it out.

[2018-12-05 12:10] stevenklar commented on #51
@tpaksu Sorry. I have no idea.
Maybe you can ask this question at the underlying [package](https://github.com/php-amqplib/php-amqplib).

There are some suggestion when searching for this issue with amqp in general. ¯\_(ツ)_/¯

[2018-12-05 14:51] marcstreeter commented on #51
this is awesome, I'll give it a try.  I'm currently bogged down with some other tasks at the moment, but this looks promising.

[2018-12-05 15:58] tpaksu commented on #51
Ok @stevenklar thanks, I'll ask them.

[2018-12-05 21:15] gutierrezps commented on #51
Hi @tpaksu and @stevenklar, I've implemented @tpaksu 's code, but it doesn't keep consuming indefinitely.

[code]
After executing the command, both start and stop messages are printed. Here's my config/amqp.php file:

[code]

Am I missing something? Since this didn't work, right now I'm following [RabbitMQ's tutorial](http://www.rabbitmq.com/tutorials/tutorial-one-php.html), using its [receive.php

[2018-12-05 21:22] gutierrezps commented on #51
Hi @tpaksu and @stevenklar, I've implemented @tpaksu 's code, but it doesn't keep consuming indefinitely.

[code]
After executing the command, both start and stop messages are printed. Here's my config/amqp.php file:

[code]

Am I missing something? Since this didn't work, right now I'm following [RabbitMQ's tutorial](http://www.rabbitmq.com/tutorials/tutorial-one-php.html), using its [receive.php

[2018-12-06 06:09] tpaksu commented on #51
@gutierrezps are you using supervisor? Can you try the `connect_options` options I shared in my next post?

[2018-12-06 11:56] tpaksu commented on #51
@gutierrezps AFAIK the code I posted here checks the queue once and if it has messages inside, it'll process them until the queue becomes empty. If your queue is empty, it's normal to see both messages printed at once. I'm trying to keep the consumer open with the keep-alive option, and if it times out, supervisor restarts it.

[2018-12-06 12:42] stevenklar commented on #51
Persistent should be true because of https://github.com/bschmitt/laravel-amqp/blob/master/src/Consumer.php#L32.

In case you have config parameter "persistent" equals false and there are no messages, it just stops.

I recommend read the Consumer.php consume method. It will explain you how it works. :)

[2018-12-06 13:43] stevenklar commented on #46
@CorvinSteindl I tried to accomplish this and this is totaly possible with the correct configuration and two consumers (one for e. g. info, warning and the other for errors)

If you need specific help, just reopen this issue and I can help you.

[2018-12-06 13:43] #46 closed

[2018-12-06 14:08] tpaksu commented on #51
@stevenklar yes I've first coded like that, but I had doubts about `while(true)` regarding memory usage. But later I saw the while loops inside this package and php-amqplib package it uses then I started to think another way to do this more specific to amqp itself.

[2019-03-21 23:05] jankal opened #55 "Publish config file via service provider"
Laravel allows to publish the config file like [this](https://laravel.com/docs/5.8/packages#configuration). It's cumbersome to copy the file from the repo.

I think, this should be added because publishing config files is de-facto standard for laravel packages.

[2019-03-22 16:38] bschmitt commented on #9
For those which are interested, there is some discussion in #54

[2019-04-01 13:23] pawlox commented on #48
Thanks for the solution, really helpful...

[2019-04-03 12:03] olanko opened #56 "Direct username + password does not work after change in php-amqplib"
Hi,

Direct username + password connection (localhost with no ssl) does not work after this change in php-amqplib: https://github.com/php-amqplib/php-amqplib/commit/995a6d56670998f44c617b152e5186cb82815a12#diff-5e5ce4c996a350f5b6329ef3430992f3

This change somehow forces connection to use ssl even with no ssl defined in config/amqp.php. I could not find a decent solution myself. Does anyone have a

[2019-04-03 12:43] stevenklar commented on #56
Hi,

Without further investigation my first try would be to set 'ssl' to null in options which should trigger the empty condition.

Steven

[2019-04-03 13:03] olanko commented on #56
Hi,

It seems that setting `'ssl_options'           => ['ssl' => null]` is not enough. I'll try to find the place where ssl is forced and i'll inform you if i find something.

-Olli

[2019-04-03 13:10] stevenklar commented on #56
Hi,

you might be right. We most likely need to add the new parameter otherwise it's always set to ssl.
Here is the problem: https://github.com/bschmitt/laravel-amqp/blob/master/src/Request.php#L43

As a test, can you change that directly on your side and add an additional null? So it must look like this afterwards:
[code]

If that works we might need to add some more ssl configuration there.

[2019-04-03 13:13] olanko commented on #56
Hi,

I just tried to add that extra null as well but it wouldn't help. I think the problem might be somewhere even deeper.

I think they had a problem when someone wanted to use tls and at the same time they introduces this `$ssl_-protocol` parameter defaulting to `ssl`.

-Olli

[2019-04-03 13:29] olanko commented on #56
Hi,

This piece of code in constructor of `AMQPSSLConnection` causes that $options['ssl'] is always set and not empty.
[code]

[2019-04-03 13:41] olanko commented on #56
Hi,

Adding check for `!empty($ssl_options)` into AMQPSSLConnection fixes the problem.

[code]

I'll send this to php-amqplib also a bit later.

Thanks to you!
-Olli

[2019-04-03 13:42] stevenklar commented on #56
@olanko Thank you for the clarification.

I would like them to fix this problem prior to us. As we just consume them.
What do you think?

[2019-04-03 13:52] olanko commented on #56
Yes, I would consider this closed in here. I'm just writing an issue on their side.

-Olli

[2019-04-03 13:53] stevenklar commented on #56
Thanks. Don't hesitate to link the issue you create here so we can track this further.

[2019-04-04 06:29] olanko commented on #56
Hi,

PR is here: https://github.com/php-amqplib/php-amqplib/pull/674 and issue report here https://github.com/php-amqplib/php-amqplib/issues/672

-Olli

[2019-04-04 12:59] olanko commented on #56
Their comment was simple that why to use `AMQPSSLConnection` if ssl is not defined. I understand their point and I think I know the reason why it is done this way after all.

I'll fix our problem locally for now and hope you'll find a solution some day :)

All the best,
-Olli

[2019-04-04 13:39] bschmitt commented on #56
Thanks for your efforts, I'm gonna prepare a PR later today. The handy thing with the old implementation was that you could define by configuration if you want to use SSL or not.

[2019-04-05 08:49] bschmitt commented on #56
New version `2.0.4` has been published.

[2019-04-05 08:49] #56 closed

[2019-04-05 10:06] #52 closed

[2019-04-05 10:07] stevenklar commented on #51
I assume this question is too old to keep open.
@tpaksu please reopen if you want to continue the question/discussion.

[2019-04-05 10:07] #51 closed

[2019-04-05 10:25] #55 closed

[2019-04-10 20:51] jwkblades opened #60 "Request parameters to AMQPStreamConnection out of order"
The context argument should be [parameter 12, not 11](https://github.com/bschmitt/laravel-amqp/blob/1cb4a4945f2b6beb1f73c31da46ea820f1cf52a5/src/Request.php#L57), for the [AMQPStreamConnection](https://github.com/php-amqplib/php-amqplib/blob/master/PhpAmqpLib/Connection/AMQPStreamConnection.php), which results in an exception `ErrorException: stream_socket_client() expects parameter 6 to be resour

[2019-04-11 13:37] stevenklar commented on #60
@jwkblades This issue should be fixed with the next release of your merged PR, right?

[2019-04-11 16:12] jwkblades commented on #60
Yes, this should be resolved in the next release after my PR.

[2019-04-11 17:08] stevenklar commented on #60
Released with tag 2.0.5

[2019-04-11 17:08] #60 closed

[2019-04-17 10:30] MattBearson commented on #18
@kitekkitek good solution, I made pretty the same but with 3 functions for `prefetch_size`, `prefetch_count` and `a_global`. Well, probably, @bschmitt should add it into `master`. This is a really good improvement.

[2019-04-17 10:33] stevenklar commented on #18
@MattBearson if you would like to contribute feel free to open a pull request for this improvement.

[2019-04-17 10:56] MattBearson commented on #18
@stevenklar thank you, created a new one pull request few minutes ago

[2019-04-17 11:40] MattBearson commented on #33
Hi guys, I got pretty the same problem, but with consumer, if I want to consume messages just from a queue, it will create a default topic and assign it to the queue. I think we should have a possibility to consume just a queue without assigning it to the default topic.

[2019-04-17 13:48] stevenklar commented on #18
Feature is done and merged into master. This will be also included in the next tagged release.

[2019-04-17 13:48] #18 closed

[2019-04-30 16:39] umbrella-artem-seryak opened #63 "Latest updates in php-amqplib/php-amqplib cause high CPU usage when using consume"
Hey guys,

Due to the latest updates in the `php-amqplib/php-amqplib` (I describe them in more details [here](https://github.com/php-amqplib/php-amqplib/issues/686)) the current way `consume` method is implemented causes an infinite loop in case `blocking` is set to `false`(which it is by default).
 https://github.com/bschmitt/laravel-amqp/blob/master/src/Consumer.php#L73

This is due to the fact

[2019-04-30 19:09] mgriego commented on #63
Just to piggyback on that, the `blocking` config option isn't really documented anywhere at all that I could see, but, given the latest changes, it's SUPER important for queue consumers.

[2019-05-09 11:54] alupuleasa opened #64 "array_key_exists() expects parameter 2 to be array, null given in Context.php line 76"
Hello,

Function `getProperty()` from `laravel-amqp/src/Context.php` on line 63 returns null when `array_key_exists` returns false . I suggest to modify:

` return array_key_exists($key, $this->properties) ? $this->properties[$key] : null;`
to
` return array_key_exists($key, $this->properties) ? $this->properties[$key] : [];`

to avoid

`array_key_exists() expects parameter 2 to be array, null giv

[2019-05-09 12:00] stevenklar commented on #64
Hi @alupuleasa

thank you for this suggestion. Your'e welcome to patch this in a pull request.
I would be pleased to review and apply it.

Regards
Steven

[2019-05-09 12:04] alupuleasa commented on #64
Hi @stevenklar I've made a pull request.

Thank you,
Andrei

[2019-05-09 12:24] stevenklar commented on #64
Merged in Release 2.0.6 - Thank you for the contribution. ;-)

[2019-05-09 12:24] #64 closed

[2019-05-20 05:10] jaypee888 opened #66 "Error in Consuming Queue using 2.0.6"
Hi,
After we update to 2.0.6 the consumer returns an error.

ErrorException : mb_strlen() expects parameter 1 to be string, array given

at /var/www/html/gameservice/vendor/php-amqplib/php-amqplib/PhpAmqpLib/Wire/AMQPWriter.php:346
342| * @throws \PhpAmqpLib\Exception\AMQPInvalidArgumentException
343| */
344| public function write_shortstr($s)
345| {

347| if ($len > 255) {
348| throw new AMQPInva

[2019-05-21 09:43] stevenklar commented on #66
Hi. Can you try to pin the php-amqplib to an older version and identify if the issue is still there?

[2019-05-21 11:02] jaypee888 commented on #66
We try to pin the older version and it works fine. The issue only happens when php-amqplib update to 2.0.6.

[2019-05-21 11:14] stevenklar commented on #66
2.9.2 is the newest php-amqplib

[2019-05-22 05:19] jaypee888 commented on #66
Sorry. I thought it was bschmitt/laravel-amqp. We pin php-amqplib to an older version  2.9.1 down to 2.7 but still we encounter an error. Only 2.0.3 is working.

[2019-05-23 15:17] stevenklar commented on #66
Is any other version up to 2.0.6 working? Maybe the bug has been introdued with a change in our Context class. Can you please test 2.0.4 and 2.0.5 for me?

[2019-05-24 12:33] TheKeymaster commented on #66
We are having the same issue. 2.0.5 seems to work, so the bug was probably introduced somewhere in 2.0.6.

[2019-05-24 12:37] stevenklar commented on #66
Allright Thanks. I will have a look into the latest change and fix the issue soon.

[2019-05-27 10:42] stevenklar commented on #66
#Can you please check if 2.0.7 is working for you? @TheKeymaster @jaypee888

[2019-05-27 10:45] stevenklar commented on #63
@umbrella-artem-seryak do you see this as a issue of this library? Because if it is not we always need to keep up with the documentation of php-amqplib issues.

Or do you suggest a change in the Consumer? Please feel free to contribute and open a PR in case you got a suggestion.

[2019-05-29 07:04] jaypee888 commented on #66
Hi, 2.0.7 is working fine now. Thank you very much.

[2019-05-29 07:04] #66 closed

[2019-06-07 14:54] vpaskovic opened #67 "Cant get shrading to work"
I am having issue using sharding. I want to achieve having one queue that has 6 consumers but with sharding to achieve that each consumer is on one CPU.

After enabling
rabbitmq-plugins enable rabbitmq_sharding

and setting up config
[code]

making policy
```rabbitmqctl set_policy videos-shard "^shard.videos$" "{""shards-per-node"": 1,""routing-key"": ""fc_analyze""}"```

with
```\Amqp::publish('f

[2019-06-10 16:08] thureos opened #68 "Use multiple RabbitMQ instances"
Hi,

First of all, thanks for this amazing library. Second, I would like to know how to configure 2 separate instances?

I kinda know how to do it in the config file but not while using it, you know like when you need to use multiple db instances.

[code]

Thanks,

[2019-06-20 09:18] dennisgon opened #69 "AMQPTables Support"
hai i used lumen 5.8.8 to send message headers properties. and it got error
[code]
my code is like this
[code]
i see that the error because the application_headers cannot accept array so i used the AMQPTables in PhpAmqpLib\Wire\AMQPTable
like this
[code]
is there any support of AMQPTables in the wrapper? if not i will try to do pull request

[2019-08-06 16:19] MattBearson opened #71 "Send direct message into queue, when you difined exchange_type=topic"
Hello guys,

I got a problem, but maybe you know the solution.
If I set up exhange_type = topic in amqp.php(settings), can I send direct message into particular queue, not to topic.
I tried a things like that:
[code]
but it binds my queue to the default topic and send message into default topic. So, if I have for example 10 REST api with different queues, all of them will be binded to one topic an

[2019-08-29 16:08] #63 closed

[2019-08-29 16:30] stevenklar commented on #69
Right now we expect it to be an array everywhere and I don't see that we support this yet.
@dennisgon  You're welcome to contribute the possiblity to use arrays and AMQPTable. :+1:

[2019-08-29 16:48] stevenklar commented on #68
Right now this library supports define multiple connections but you can only use one. (*use* in config)

@bzrncev interesting workarround :)
I will not close this issue in favor for discussion on if and how this could be implemented.
Thank you for this suggestion.

[2019-09-30 07:45] F4rzane opened #73 "publish message in a channel"
I want create channel and publish message in that how can I do that?

[2019-09-30 10:52] #73 closed

[2019-10-02 09:31] weblogics commented on #71
@MattBearson I think we are having the same issue.

We currently have our default setup as topic in setting's with a default Queue.

We seem to have messages being published to both the default Queue setup in our settings file and when trying to publish to another Queue it pushes messages to both the default queue and the provided queue in the publish method.

However, if we include a routing key

[2019-10-02 10:24] weblogics commented on #68
@bzrncev We are trying to use this approach for `publish`, but we're running into issues where the message is sent to both the default queue configured in settings as well as the requested queue sent along with the publish method.

#### This doesn't work

[code]

This publishes to the default Queue in settings as well as the inserted `$queueName`

#### This kinda work's

[code]

This causes knock-

[2019-10-14 06:09] #69 closed

[2019-10-14 13:05] priya1890 opened #75 "How to consume the message in Laravel"
Hi,

I am using this package to publish and consume the message using RabbitMQ in a Microservices based application. I am publishing the message in service and trying to consume the same in another service.

The documentation is pretty clear on the code to consume the published message in the queue. However, in the traditional Laravel queue process, we would describe the process to be performed in

[2019-10-16 09:05] stevenklar commented on #71
Sorry for the late answer.

@weblogics This sound like an issue by it's own. You could open one and provide more information with examples so I can reproduce the problem. Otherwise I don't know if it's a bug in this lib or not.

@MattBearson I don't really get the problem. If you use '' while doing a topic exchange that legitimate binds to all, because that's how topic exchange works.

In case you

[2019-10-16 09:13] stevenklar commented on #67
@vpaskovic The queue name is 'shard.videos' right? But you got 'videos' and 'shard.videos' mixed.

[2019-10-16 09:20] stevenklar commented on #75
Create a laravel artisan command and start to consume. You will of course need to run the command and handle the keep alive yourself. This library does not provide you with any boilerplate for this.

[2019-10-16 14:51] vpaskovic commented on #67
Hi @stevenklar when I put 'shard.videos' in \Amqp::consume('shard.videos', there is Error, as it does not accept queue name with dots.
So there is still a problem.

[2019-10-16 16:04] stevenklar commented on #67
Right now I'm not sure if we support this. Must be tested.

/Reopen

[2019-12-27 13:15] kbdxbt opened #76 "How do I use the topic pattern"
hello，I had a problem using this package

My question is that I want to use rabbitmq through topic mode. I use the mode of matching routes, but it has no effect. May I ask how I should use it or do you have any examples for reference?

`
Amqp::publish('fruit.red', 'message2' , [
            'exchange_type' => 'topic',
            'exchange' => 'test.topick',
        ]);
`

`Amqp::consume('red.queu

[2019-12-28 07:02] #76 closed

[2019-12-28 09:29] kbdxbt opened #77 "Whether to support header pattern"
I did not find the usage supporting header mode in the package, may I ask whether the use of header mode is supported and how should I call the example

[2020-01-10 07:51] leconghieu opened #78 "how to connect to a partner's message broker server without adding exchange or empty exchange."
I am using the "bschmitt / laravel-amqp" 2.0 library and I need to connect to the partner's message broker server. It seems they don't accept any exchange parameters in the connection. But when I modified the "exchange" and "exchange_type" fields in the "config / amqp.php" file, I got the error "Please check your settings, exchange is not defined".
The following image is my fault and configuration

[2020-01-13 07:58] yangergea opened #79 "how can i add "application_headers""

[2020-01-31 09:28] vsalvans commented on #79
I had the same question and I've figured out by using this code:
[code]

This code works with version 2.0.8.

[2020-01-31 09:39] stevenklar commented on #79
Thank you for pointing this out @vsalvans. Close this issue accordingly.

[2020-01-31 09:39] #79 closed

[2020-03-10 11:49] bschmitt opened #80 "Check Laravel 7 Compatibility"
Laravel 7 has been released, this ticket is about checking the compatibility.

https://laravel.com/docs/7.x/upgrade

[2020-05-27 14:49] oleh1231 opened #82 "@stream_socket_client false in consume"
I have project in one docker container and rabbitmq in another.
In one project I publish and consume message.
For consuming massages I use laravel command.
Publish massage in controller.
When I publish message into queue all work fine, but in the same project consumer  show exception: "Error Connecting to server(0): php_network_getaddresses: getaddrinfo failed: Name does not resolve
".
I configure

[2020-05-27 17:48] stevenklar commented on #82
Hi @oleh1231

Your error has nothing to do with this library.
Make sure that both docker container are in the same docker network and the rabbitmq container is running under the name rabbtimq.

Best of luck!

[2020-05-27 17:48] #82 closed

[2020-05-27 18:12] oleh1231 commented on #82
Hi @stevenklar
I put containers in the same docker network and all working, thank you

[2020-06-12 21:50] diphuaji commented on #78
You either have to change the code in Request class or write your own lib

[2020-07-14 04:41] yombo commented on #80
Any status on if this is working with Laravel 7? Would like to use on 7.19.  Thanks.

[2020-07-22 06:58] caiokawasaki opened #84 "Questions about producer"
I want to implement a side rabbitmq server in my Laravel api, the problem is: I have a lot of requests per second.

I would like to know if there is any way to keep the producer alive.

I did a test locally and found that with each request it creates a new instance.

Here are the results of sending data to the queue then returning a json:

Response:
[code]

[code]

Here are the results just return

[2020-08-06 09:26] joskfg opened #85 "Library release"
When will be the next release? I need this fix https://github.com/bschmitt/laravel-amqp/pull/70 that is from far ago, but the last release is almost one year ago.

Thanks for your work.

[2020-08-06 09:32] bschmitt commented on #85
@joskfg thanks https://github.com/bschmitt/laravel-amqp/releases/tag/2.0.9

[2020-08-06 09:32] #85 closed

[2020-09-04 13:43] anishansari opened #87 "How to access all the messages from the que"
I am able to push the messages to the queue and I want to access all the messages and send the messages to the users dashboard or through SMS so I wanted to know how to get the content or all the message so that I can send them one by one to the users. Please help it is urgent.

Thank you

[2020-09-14 12:18] mohamedshuaau opened #88 "Wildcard Routing"
Hello. I am unable to use wildcard routing in topic exchange and I was wondering if this is available

As [mentioned here](https://www.rabbitmq.com/tutorials/tutorial-five-java.html), we can use `*` or `#` for wildcard routing keys and send data.

[2020-10-03 02:51] luongyen123 commented on #9
I have a process like this in my microservice model:
service A-> publish service B
service B -> service A
How to get the results of service B sent to A in laravel controller.

[2020-10-03 02:53] luongyen123 opened #90 "How to return the results via APi to the user when listening consume in the laravel controller"
I have a process like this in my microservice model:
service A-> publish service B
service B -> service A
How to get the results of service B sent to A in laravel controller.
I need that result to return to the user through the API

[2020-10-05 17:09] filipbekic01 opened #91 "Publish multiple messages - Batch publish"
I'm having trouble pushing 200+ messages at once. Each publish takes ~2 seconds, that's really slow.

[2020-10-07 07:47] joskfg commented on #91
I'm having the same issue and this library doesn't support it. It uses `basic_publish` and there isn't any option to use `batch_basic_publish`.

[2020-10-07 12:49] filipbekic01 commented on #91
I'd love to extend possibilities but i'm not even sure how active this repository is. I see there are 3 PRs in queue already :-1:

[2020-10-07 19:12] bschmitt commented on #91
The library doesn't support *batch_basic_publish* for now. But feel free to provide a PR. There are 3 PRs in review, some of them don't follow the intention of this library.

[2020-10-07 20:19] stevenklar commented on #91
Hey Filip, I would love to merge any appropriate enhancement to the
repository.
Just create a PR and follow the repositories purpose.

Thank you :-)

On Wed, 7 Oct 2020 at 21:12, Björn Schmitt <notifications@github.com> wrote:

[2020-10-08 12:14] joskfg commented on #91
I created a version of this library, with the support. After further testing, I'd like to put here as PR.

[2020-10-09 08:53] filipbekic01 commented on #91
Do that @joskfg :+1:

[2020-10-14 09:09] zhizhaoping opened #92 "[Question]open and close connections or channels every time when publish message"
when I read a article(url: https://www.cloudamqp.com/blog/2018-01-19-part4-rabbitmq-13-common-errors.html), I get a advice of that "Don’t open and close connections or channels repeatedly"

But I read this library source code
[code]
I see than close connection and channel every time when  call  publish method. relevant code
[code]

So, it is a bad practice for this way of publish message implement

[2020-10-14 10:03] joskfg commented on #91
Initial approach https://github.com/bschmitt/laravel-amqp/pull/93

[2020-10-26 09:09] Cellard opened #95 "Publisher and Consumer should not be singletons"
If you publish first message:

[code]

And then publish second message:

[code]

The second message goes not in `tasks` queue but in `shared` exchange. It happens because Publisher bases on properties left from previous message.

Library should either instantiate new Publisher each time or reset properties to its default state.

I expect the Consumer meets the same problem.

----

Programmer may e

[2020-10-26 09:52] stevenklar commented on #95
Hi @Cellard

I think you are totally right. This is a bad side effect.
@bschmitt What do you think?

Thanks for your feedback.
-Steven

[2020-10-26 09:57] stevenklar commented on #91
Thank you for the contribution. I would like to merge this for our next release.
Please fix the necessary docblocks and appropriate method scope.

[2020-10-26 10:00] stevenklar commented on #92
As far as I'm concerned you should always closing connections because php run request wise.
Would even be worse to let the connection open.

Not sure about the newest php meta/versions though.

[2020-10-26 10:00] #92 closed

[2020-10-26 10:02] stevenklar commented on #77
Hi,

RPC is not implemented yet as the PR author doesn't fix the necessary changes.
I don't really understand the question. What is header mode?

Thanks
-Steven

[2020-10-26 10:07] stevenklar commented on #84
This library does not support keeping the connection alive nor does php itself right now.
The Producer is alive as long as the AMQP Facade get destructed.

[2020-10-26 10:07] #84 closed

[2020-10-26 14:44] joskfg commented on #91
Fixed docblocks and method scope.

[2020-10-27 13:26] stevenklar commented on #91
Will be published in the next release.

[2020-10-27 13:26] #91 closed

[2020-11-25 07:56] Cellard opened #96 "Consumer priority"
How to manage consumer priority? As it described in https://www.rabbitmq.com/consumer-priority.html

As I can see in source code, consuming initialised without passing any consumer arguments.

[2021-03-21 20:25] bschmitt commented on #95
Agree. I'm happy to merge in case s/o provides a PR. Thanks!

[2021-03-21 20:29] bschmitt commented on #96
@Cellard thanks for your support

[2021-03-21 20:29] #96 closed

[2021-03-21 20:29] #80 closed

[2021-03-22 10:55] laba97 opened #99 "Version 2.0.11 doesn't work on PHP bellow 7.4 version"
bschmitt/laravel-amqp/src/Amqp.php
line 14
protected static array $batchMessages = [];

Class properties declaration works only from PHP 7.4, in composer.json there is still PHP >= 7.0 required.

[2021-03-22 12:02] bschmitt commented on #99
I would prefer to make it backward compatible. So removing the static typing.

[2021-04-02 20:45] jonatansantana opened #101 "Azure Service Bus - Support"
Hello, this package have azure service bus support or any prediction of implementing it using a proxy proxy or the amqp protocol itself?

[2021-04-08 11:40] svikramjeet opened #102 "Broken pipe or closed connection"
I tried with the default setting and it was showing timeout after 3 seconds, how i can update 3 second time

[2021-05-04 18:06] mawaraujo commented on #99
Hey, @bschmitt.
Do you have any idea when you will make a release available with this fix?

[2021-05-04 19:16] bschmitt commented on #99
@mawaraujo really sorry, release created

[2021-05-04 19:16] #99 closed

[2021-05-04 19:27] bschmitt opened #103 "Looking for help"
Unfortunately, I don't find the time to support this package anymore in the way it deserves.

@stevenklar helped me out a lot in the last years. Many thanks for that! 👏

Still, I feel additional help might be a good idea - if you like to contribute, help to prepare releases, organize the communication and provide fixes, please feel free to rely on this thread.

[2021-05-04 19:28] bschmitt commented on #102
@svikramjeet is that still relevant?

[2021-05-04 19:31] bschmitt commented on #101
This package just provides support for AMQP, maybe I'm mistaken but Azure also supports that? But in general, any other protocols are not planned.

[2021-05-04 19:34] bschmitt opened #104 "PHP 8 support"
Todos:
* Validate if there are any issues with PHP 8
* Provide potential fixes
* Adjust tests

[2021-05-05 04:22] svikramjeet commented on #102
@bschmitt : worked after making changes in config

[2021-05-05 04:22] #102 closed

[2021-05-05 12:41] stevenklar commented on #103
I don't use php or laravel in day-to-day basis anymore. But this repository is in use by so many projects.
Or to put it the other way arround. **Many projects rely on this repository!**

Would really like someone raise it up to modern php/laravel standard and more features regarding amqp.

[2021-07-15 17:10] jonatansantana commented on #101
Yes, azure servoce bus provide support for AMQP, but, 1.0 version.
Can use?

[2021-07-28 01:57] vikram-rajan opened #105 "AmazonMQ support"
Hey, just wondering if this library support AmazonMQ which expects SSL connections?

[2021-08-03 01:59] qschmick commented on #104
@bschmitt PHP 8 support is setup and in the tests

[2021-08-12 14:14] ThaDaVos opened #109 "Target class [Amqp] does not exist."
I am trying to use this package in my custom package - I am using Orchestral Testbench for testing it, but for some reason the facade from this package won't load... I've setup the following according to your docs but still no luck:

[code]

Just a note: the other packages I use just work fine, without any issues - serviceprovider from this package seems to be loaded so...

[2021-08-12 14:26] ThaDaVos commented on #109
Fixed my issue.... I borrowed code from how Laravel Horizon does stuff and forgot... it doesn't load the serviceproviders by itself...

[2021-08-12 14:26] #109 closed, assigned to nobody

[2021-08-13 18:49] renatosistemasvc commented on #51
Hi! @tpaksu @stevenklar

I'm going to use this library in a software. I want to know if is recommended listening forever? do you have any performance issues on the php side?

My configuration is:

[code]

[code]

[2021-08-27 03:18] SoftrainHere opened #110 "Option for 'x-queue-type'"
Hi guys~~

I got message like this during consuming messages from server

PRECONDITION_FAILED - inequivalent arg 'x-queue-type' for queue 'channel_connector_get_update' in vhost '/': received none but current is the value 'quorum' of type 'longstr'

How can I set option for 'x-queue-type'?

[2021-11-02 12:32] HassanElZarkawy commented on #75
@Lincolnbiancard +1

[2021-11-03 19:04] ni-bschmitt commented on #75
First create a command as described here: https://laravel.com/docs/8.x/artisan#command-structure
Then register the command as described here: https://laravel.com/docs/8.x/artisan#registering-commands

Inside the handle method of the command please put the code from above:

[code]

[2021-11-03 19:08] ni-bschmitt commented on #105
As long as AmazonMQ supports AMQP it should work.
https://www.infoq.com/news/2020/11/aws-amazon-mq-rabbitmq/

[2021-12-01 14:59] TimoFrenzel opened #112 "Configure RabbitMQ - Cluster"
How i can configure multiple hosts for my RabbitMQ-Cluster?

[2021-12-20 14:27] matrix2305 opened #113 "How to set initial durable for exchange"
I have a problem with set durable = true on publish or subscribe message in setup connection to RabbitMQ:

I don't know how to set durable in config:
My (bad) example:
         'exchange_properties' => ['durable' => ['t',true]],

Exception:
PRECONDITION_FAILED - inequivalent arg 'durable' for exchange 'amq.topic' in vhost '/': received 'false' but current is 'true'

Do I create new vhost with diff

[2021-12-20 14:42] #113 closed

[2021-12-20 14:43] matrix2305 commented on #113
I'm not publish config from vendor, already I'm copy (old) config from description.

[2022-02-05 10:07] riyandharne-123 commented on #90
Did you figure it out?

[2022-05-11 08:40] mihaileu commented on #112
you can try to put haproxy in front of your cluster

[2022-05-13 17:23] shwetatyagi22 opened #114 "Non-static method 'consume' should not be called statically"
I am using below function to consume messages from rabbitmq queue.
My IDE is giving me a warning for consume method **_Non-static method 'consume' should not be called statically_**
[code]

[2022-07-05 12:51] liviublidar commented on #114
Hi @shwetatyagi22 ,

If you're using this with Laravel, the Consumer class can be injected to your controller function as it's registered as a provider.
This should be equally injectable in a command.

[code]

[2022-07-05 16:09] liviublidar commented on #87
Hi @anishansari

You could call a function that just adds the messages to an array, then process it all in one go.

use App\Http\Controllers\Controller;
use Bschmitt\Amqp\Consumer;
use Bschmitt\Amqp\Amqp;
use Illuminate\Http\Request;
use PhpAmqpLib\Message\AMQPMessage;

[code]

Sorry if some of the formatting is wrong here, I don't have access to a proper editor at the minute ^^

[2022-07-05 16:20] stevenklar commented on #78
True. Changes the labels. This is 3y old.

[2022-07-05 16:42] liviublidar commented on #33
@stevenklar same as https://github.com/bschmitt/laravel-amqp/issues/78 ?